<template>
  <ErrorsTable :errors="errors" />
</template>

<script>
import { mapActions, mapMutations, mapGetters } from "vuex";
import ErrorsTable from "@/components/temporary/ErrorsTable.vue";

export default {
  components: {
    ErrorsTable,
  },
  computed: {
    ...mapGetters({
      dataStatus: "empresas/dataStatus",
      companies: "empresas/companies",
      errors: "empresas/errors",
    }),
  },
  watch: {
    companies() {
      this.setErrors(this.$companyController.getErrors(this.companies));
    },
  },
  beforeMount() {
    if (this.dataStatus == "ok") {
      if (this.companies.length > 0)
        this.setErrors(this.$companyController.getErrors(this.companies));
      else this.fetchSpreadsheets({ sheetsAPIKey: process.env.sheetsAPIKey });
    }
  },
  methods: {
    ...mapActions({
      fetchSpreadsheets: "empresas/fetchSpreadsheets",
    }),
    ...mapMutations({
      setErrors: "empresas/setErrors",
    }),
  },
};
</script>
