<template>
  <v-container>
    <v-row justify="center">
      <v-col cols="5">
        <List v-model="selected" :items="items" />
      </v-col>
      <v-col cols="7">
        <DetailsCard :item="selected">
          <template v-slot:itemTitle>
            <slot name="itemTitle" :item="selected"></slot>
          </template>
          <template v-slot:content>
            <slot name="content" :item="selected"></slot>
          </template>
          <template v-slot:buttons>
            <slot name="buttons" :item="selected"></slot>
          </template>
        </DetailsCard>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import List from "@/components/deeper_levels/List.vue";
import DetailsCard from "@/components/deeper_levels/DetailsCard.vue";

export default {
  components: {
    List,
    DetailsCard,
  },
  props: {
    items: {
      type: Array,
      default: () => [],
    },
    selected: {
      type: Object,
      default: undefined,
    },
  },
};
</script>
